.venv
mon_venv
ultrasam_venv
OpenUs_venv
Projet/data
.vscode
__pycache__
__init__.py
checkpoint
checkpoints

Projet/UNet/__pycache__
Projet/UNet/saves/*.pth
R50+ViT-B_16.npz

Projet/App/__pycache__

Projet/YOLO26/*.pt
Projet/YOLO26/*.yaml
Projet/YOLO26/folds
Projet/YOLO26/runs

Projet/utils/__pycache__

# OpenUS-multiclass
output/

